<launch>
  <!-- パラメータファイルの読み込み -->
  <rosparam command="load" file="$(find dual_leg_controller)/config/hexa_leg_params.yaml" />
  
  <!-- 各デバイスに接続された脚のコントローラーを起動 -->
  <!-- USB0に接続された脚（右前と左前） -->
  <node name="dual_leg_controller_usb0" pkg="dual_leg_controller" type="dual_leg_controller_node" 
        args="RF LF" output="screen">
  </node>
  
  <!-- USB1に接続された脚（右中と左中） -->
  <node name="dual_leg_controller_usb1" pkg="dual_leg_controller" type="dual_leg_controller_node" 
        args="RM LM" output="screen">
  </node>
  
  <!-- USB2に接続された脚（右後と左後） -->
  <node name="dual_leg_controller_usb2" pkg="dual_leg_controller" type="dual_leg_controller_node" 
        args="RR LR" output="screen">
  </node>
  
</launch>